<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1 class="text-center">Authorize</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <p>
        An app would like to access something data on this server.
      </p>
      <form class="" action="/authorize_submit" method="post" novalidate="novalidate">
        <div class="form-group">
          <button type="submit" class="btn btn-default" name="deny" value="1">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" name="allow" value="1">
            Allow
          </button>
        </div>
        <%# Retain the response type from the previous request. %>
        <input type="hidden" name="response_type" value="<%= response_type %>">
      </form>
  </div>
</div>
