<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1 class="text-center">You're all set!</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <p>
        Enter this code into your app to finish the process.
      </p>
      <input type="text" class="form-control" value="<%= access_token %>">
    </div>
  </div>
</div>
