<div class="col-xs-12">
  <div class="page-header">
    <h1 class="text-center">Local OAuth2</h1>
  </div>
  <p>
    This is a "robust enough" OAuth2 API for local development. It doesn't
    support all things OAuth2.
  </p>
</div>
